/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.container {
    max-width: 1320px;
    margin   : 0 auto;
    width    : 100%;
}

/* Header CSS */
.header-container {
    gap                  : 50px;
    grid-template-columns: 240px 1080px;
    grid-template-areas  : "headerStart headerEnd";
    padding              : 8px 0;
}

.headerStart {
    align-items     : center;
    gap             : 10px;
    grid-area       : "headerStart";
}

.headerStart-menu {
    height: 46px;
    width : 46px;
}

.headerStart-logo {
    align-items: center;
}

.headerStart-logo>img {
    height: 50px;
    width : 50px;
}

.headerStart-logo div {
    width: 120px;
}

.headerEnd {
    background-color: darkgoldenrod;
    grid-area       : "headerEnd";
}

@media screen and (max-width: 780px) {
    .header-container {
        gap                  : 0;
        grid-template-columns: 1fr;
        grid-template-areas  :
            "headerStart"
            "headerEnd";
    }
}