.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

.article4 {
    grid-area: article4;
}

.article {
    margin-top : 10px;
    margin-left: 4px;
}

.article1 .article-content,
.article2 .article-content {
    background-color: #f0f9f0;
}

.article3 .article-content,
.article4 .article-content {
    background-color: #f0f0f9;
}

.article-content {
    border-top    : 3px solid #fff;
    gap           : 10px;
    flex-direction: column;
    font-size     : 0.875rem;
    line-height   : 22px;
    min-height    : 400px;
    padding       : 10px;
    width         : 100%;
}

.article-content_news {
    gap            : 5px;
    justify-content: space-between;
}

.article-content_news img {
    width: 150px;
}

.article-content_main {
    flex: 1;
}

.article2 .article-content_main p {
    border-top: 1px dotted;
    padding   : 10px 0;
}

.article2 .article-content_main p:last-of-type {
    border-bottom: 1px dotted;
}

.article-content_footer {
    gap            : 20px;
    justify-content: end;
}

.article-content_footer ul {
    font-size: 0.830rem;
    gap      : 5px;
}

.article-content_footer ul p {
    font-weight: 700;
}

.article-content_footer ul a {
    font-weight: bolder;
}

.article-content_main p.bolder {
    margin: 8px 0;
}

.article4 p {
    margin-bottom: 8px;
}