.footer {
    padding: 60px 0 82px;
    width  : 100%;
}

.footer-container {
    border-top: 1px solid #a2a9b1;
    color     : #202122;
    font-size : 0.75rem;
    padding   : 12px 0;
}

.footer-container p {
    padding: 6px 0;
}

.footer-container ul {
    gap       : 12px;
    margin-top: 6px;
}

.footer-container ul li a {
    padding: 6px 0;
}

.footer-button {
    gap            : 5px;
    justify-content: end;
}

.footer-button a img {
    height: 30px;
    width : 88px;
}