/* Generics */
body {
    background-color: #f8f9fa;
    color           : #202122;
    font-family     : sans-serif;
    width           : 100%;
}

.menu-acordion {
    background-color: #fff;
    border          : 1px solid #c8ccd1;
    display         : none;
    min-width       : 210px;
    position        : absolute;
    z-index         : 1;
}

.menu-acordion li {
    font-size    : 0.875rem;
    margin-bottom: 4px;
    padding      : 4px 14px;
}

.menu-acordion p {
    color: #54595d;
}

.menu-acordion a {
    color          : #3366cc;
    font-size      : 0.875rem;
    text-decoration: none;
}

.menu-acordion a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.container {
    max-width    : 1450px;
    margin       : 0 auto;
    padding-left : 2%;
    padding-right: 2%;
    width        : 100%;
}

.title {
    color       : #555555;
    font-variant: small-caps;
    line-height : 40px;
}