/* Header CSS */
.header-container {
    gap                  : 50px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas  : "headerStart headerEnd";
    padding              : 10px 2%;
}

@media screen and (max-width: 780px) {
    .header-container {
        align-items          : center;
        gap                  : 0;
        grid-template-columns: 1fr auto;
    }
}

.headerStart {
    align-items: center;
    gap        : 10px;
    grid-area  : "headerStart";
}

.headerStart-menu {
    align-items: center;
    position   : relative;
}

.headerStart-menu>a {
    color     : #202122;
    font-size : 1.5rem;
    padding   : 5px;
    transition: .3s;
}

.headerStart-menu>a:hover {
    background-color: #f8f9fa;
}

.menu-acordion {
    border   : 1px solid #c8ccd1;
    display  : none;
    min-width: 210px;
    position : absolute;
    z-index  : 1;
}

.menu-acordion li {
    font-size    : 0.875rem;
    margin-bottom: 4px;
    padding      : 4px 14px;
}

.menu-acordion p {
    color: #54595d;
}

.menu-acordion a {
    color          : #3366cc;
    font-size      : 0.875rem;
    text-decoration: none;
}

.menu-acordion a:hover {
    text-decoration: underline;
}

.headerStart-menu_itens {
    top: 50px;
}

.headerStart-menu_itens li:first-of-type,
.headerStart-menu_itens li:nth-child(8) {
    border-bottom: 1px solid #eaecf0;
}

.headerStart-menu:hover .menu-acordion {
    display: block;
}

.headerStart-logo {
    align-items: center;
}

.headerStart-logo>img {
    height: 50px;
    width : 50px;
}

.headerStart-logo div {
    width: 120px;
}

@media screen and (max-width: 780px) {
    .headerStart-logo {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .headerStart-logo_mob {
        display: none;
    }
}

.headerEnd {
    align-items    : center;
    grid-area      : "headerEnd";
    justify-content: space-between;
}

.header-search {
    border       : 1px solid #a2a9b1;
    border-radius: 2px;
    overflow     : hidden;
    transition   : .3s;
    width        : 500px;
}

.header-search input {
    background-image   : url("../../images/lupa.png");
    background-repeat  : no-repeat;
    background-position: 8px center;
    background-color   : #fff;
    border             : none;
    color              : #202122;
    display            : inline-block;
    fill               : #202122;
    font-family        : sans-serif;
    font-size          : 0.875rem;
    line-height        : 20px;
    outline            : none;
    padding            : 5px 8px 5px 40px;
    width              : 400px;
}

.header-search:hover button {
    border-left-color: #a2a9b1;
    display          : inline-block;
    opacity          : .9;
}

.header-search button {
    background-color: #fff;
    border          : 1px solid transparent;
    border-radius   : 0 2px;
    color           : #404244;
    cursor          : pointer;
    display         : none;
    font-family     : sans-serif;
    font-size       : 0.875rem;
    font-weight     : 700;
    height          : 100%;
    margin          : -1px -2px -1px 0;
    padding         : 6px 10px;
    text-align      : center;
    transition      : .3s;
    width           : 95px;
}

.header-search_mob {
    display: none;
}

.header-search_mob a {
    color    : #202122;
    font-size: 1.25rem;
}

@media screen and (max-width: 780px) {
    .header-search {
        display: none;
    }

    .header-search_mob {
        display: block;
    }
}

.headerEnd-menu {
    align-items    : center;
    gap            : 10px;
    justify-content: flex-end;
}

@media screen and (max-width: 780px) {
    .headerEnd-menu {
        display: none;
    }
}

.headerEnd-menu a {
    color          : #3366cc;
    display        : inline-block;
    font-size      : 0.875rem;
    text-decoration: none;
    transition     : .3s;
}

.headerEnd-menu>li:last-of-type>a {
    color     : #202122;
    font-size : 1.5rem;
    transition: .3s;
    padding   : 1px 4px;
}

.headerEnd-menu>li:last-of-type>a:hover {
    background-color: #f8f9fa;
}

.headerEnd-menu a:hover {
    text-decoration: underline;
}

.headerEnd-menu>li:last-of-type {
    position: relative;
}

.headerEnd-menu>li:last-of-type:hover .menu-acordion {
    display: block;
}

.headerEnd-menu_acordion {
    right: 2px;
}