.main-menu {
    box-shadow     : 0 1px #c8ccd1;
    font-size      : 0.8125em;
    grid-area      : main-menu;
    justify-content: space-between;
    margin-bottom  : 1px;
    padding-top    : 30px;
}

.main-menu .main-menu_lista {
    gap: 15px;
}

.main-menu .main-menu_lista>li>a {
    display        : inline-block;
    padding        : 8px 0;
    text-decoration: none;
}

.main-menu_lista>li+li:not(li.main-menu_acordion) a {
    color: #3366cc;
}

.main-menu_lista>li+li:not(li.main-menu_acordion) a:hover {
    border-bottom: 2px solid #3366cc;
}

.main-menu_lista>li:first-of-type {
    border-bottom: 2px solid #202122;
}

.main-menu_acordion {
    position: relative;
}

.main-menu_acordion ul li:nth-child(1),
.main-menu_acordion ul li:nth-child(10),
.main-menu_acordion ul li:nth-child(14) {
    border-bottom: 1px solid #eaecf0;
}

.main-menu_acordion .menu-acordion {
    right: 1px;
    top  : 33px;
}

.main-menu_acordion:hover .menu-acordion {
    display: block;
}

.main-info {
    border-right         : 2px solid rgba(0, 0, 0, 0.1);
    grid-area            : main-info;
    grid-template-columns: 1fr 1fr;
    margin-top           : 15px;
    padding              : 20px;
}

.main-info_container {
    color     : #555555;
    padding   : 20px;
    text-align: center;
}

.main-info_container:last-child {
    border-left: 1px solid #cccccc;
}

.main-info_container h1 {
    font-size    : 2.125rem;
    margin-bottom: 7px;
}

.main-info_container h1 a {
    color          : #555555;
    text-decoration: none;
}

.main-info_container h1 a:hover {
    text-decoration      : underline;
    text-decoration-color: #3366cc;
}

.main-info_container h1+p {
    color      : #555555;
    font-size  : 1.125rem;
    line-height: 1.125rem;
    font-family: sans-serif;
}

.main-info_container a {
    color          : #3366cc;
    text-decoration: none;
}

.main-info_container a:hover {
    text-decoration: underline;
}

.main-info_container>p,
.main-info_lista li a {
    font-size  : 0.875rem;
    line-height: 24px;
}

.main-info_container>p strong {
    color      : #333;
    font-weight: 700;
}

.main-info_lista {
    align-items    : center;
    gap            : 10px;
    justify-content: center;
    margin-top     : 8px;
}

.main-info_lista li:not(li:last-of-type)::after {
    content    : "•";
    font-weight: 100;
    margin-left: 5px;
    text-align : center;
}

.main-info_lista li:first-of-type a {
    text-decoration: underline;
}

.main-info_lista li a {
    color: #3366cc;
}

.main-topics {
    grid-area: main-topics;
    width    : 100%;
}

.main-topics_list {
    border-top     : 2px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    box-shadow     : 0 1px 1px rgba(0, 0, 0, 0.1);
}

.main-topics_list li {
    flex      : 1;
    padding   : 12px 1px 3px 1px;
    text-align: center;
}

.main-topics_list li a {
    border-top     : 5px solid transparent;
    color          : #202122;
    display        : inline-block;
    font-size      : 0.8rem;
    line-height    : 20px;
    padding        : 3px 0.25em;
    text-decoration: none;
    width          : 100%;
}

.main-topics_list li a:hover {
    text-decoration: underline;
}

.main-topics_list li:nth-child(1) a {
    background-color: #F9F9F0;
    border-color    : #999933;
}

.main-topics_list li:nth-child(2) a {
    background-color: #F4F9F0;
    border-color    : #669933;
}

.main-topics_list li:nth-child(3) a {
    background-color: #F0F9F0;
    border-color    : #339933;
}

.main-topics_list li:nth-child(4) a {
    background-color: #F0F9F9;
    border-color    : #339999;
}

.main-topics_list li:nth-child(5) a {
    background-color: #F0F4F9;
    border-color    : #336699;
}

.main-topics_list li:nth-child(6) a {
    background-color: #F0F0F9;
    border-color    : #333399;
}

.main-topics_list li:nth-child(7) a {
    background-color: #F9F0F9;
    border-color    : #993399;
}

.main-topics_list li:nth-child(8) a {
    background-color: #F9F0F4;
    border-color    : #993366;
}

.main-topics_list li:nth-child(9) a {
    background-color: #F9F0F0;
    border-color    : #993333;
}